python=3.10
pytorch
pytorch-cuda=11.8
torchaudio
torchvision
pyg
conda-forge::googledrivedownloader
conda-forge::scikit-learn
conda-forge::pytorch_sparse
numpy
scipy
networkx==2.51
scikit-learn
hyperopt==0.1.1
